
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{Zach}}</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}">
</head>
<body>

  <figure><img src="cosmic-timetraveler-1327434-unsplash.jpg" alt="" aria-setsize> </figure>
  <header>
    <div id="hd1">Camivee</div>
    <nav>
      <div><h1>{{Zach}}</h1></div>
      <div><a href="#d1">BILLING</a> </div>
      <div><a href="#d10">TEAM</a></div>
      <div><a href="#d20">CLIENTS</a></div>
      <div><a href="#d30">FEATURES</a></div>
    </nav>
  </header>
  