
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{Zach}}</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}">
</head>
<body>

  <figure><img src="cosmic-timetraveler-1327434-unsplash.jpg" alt="" aria-setsize> </figure>
  <header>
    <div id="hd1">Camivee</div>
    <nav>
      <div><h1>{{Zach}}</h1></div>
      <div><a href="#d1">BILLING</a> </div>
      <div><a href="#d10">TEAM</a></div>
      <div><a href="#d20">CLIENTS</a></div>
      <div><a href="#d30">FEATURES</a></div>
    </nav>
  </header>
  <div id="hd2"><b>
      <p id="hp1">Camivee</p>
      <p id="hp2">Interactive Learning</p>
    </b> </div>

  <main>
    <article>
      <div id="d1"><b>
          <h1>Billing</h1>
        </b>
        <p>what is this strange English text about business ^ probably a strange new idea.</p>
      </div>
      <figure id="fig1"><img src="free-icon-united-1534938.png" alt="" aria-setsize> </figure>
      <div class="d2">
        <div class="d3">
          <h2>ENTRY</h2>
          <p class="billing_1">$0/month</p>
        </div>
        <div class="d4">
          <ul>
            <li class="next_black">&#10004; &nbsp; &nbsp; Single Page</li>
            <li class="next_black">&#10004; &nbsp; &nbsp; 6GD Traffic</li>
            <li class="next_black">&#10004; &nbsp; &nbsp; Communiti Access</li>
            <li class="next_grey">&#10006; &nbsp; &nbsp; Unlimited Privat Projects</li>
            <li class="next_grey">&#10006; &nbsp; &nbsp; Dedicated Phone Support</li>
          </ul>
          <div class="start">
            <h3>START</h3>
          </div>
        </div>
      </div>
      <div class="d2">
        <div class="d3">
          <h2>PRO</h2>
          <p class="billing_1">$8/month</p>
        </div>
        <div class="d4">
          <ul>
            <li class="next_black">&#10004; &nbsp; &nbsp; 5 Page</li>
            <li class="next_black">&#10004; &nbsp; &nbsp; 20GD Traffic</li>
            <li class="next_black">&#10004; &nbsp; &nbsp; Communiti Access</li>
            <li class="next_black">&#10004; &nbsp; &nbsp; Unlimited Privat Projects</li>
            <li class="next_black">&#10004; &nbsp; &nbsp; Dedicated Phone Support</li>
          </ul>
          <div class="start">
            <h3>START</h3>
          </div>
        </div>
      </div>
      <div class="d2">
        <div class="d3">
          <h2>POWER</h2>
          <p class="billing_1">$99/month</p>
        </div>
        <div class="d4">
          <ul>
            <li class="next_black">&#10004; &nbsp; &nbsp; Unlimited Page</li>
            <li class="next_black">&#10004; &nbsp; &nbsp; 230GD Traffic</li>
            <li class="next_black">&#10004; &nbsp; &nbsp; Communiti Access</li>
            <li class="next_black">&#10004; &nbsp; &nbsp; Unlimited Privat Projects</li>
            <li class="next_black">&#10004; &nbsp; &nbsp; Dedicated Phone Support</li>
          </ul>
          <div class="start">
            <h3>CONTACT US</h3>
          </div>
        </div>
      </div>
      <div>
        <h1>Camivee is more than just Education</h1> </b>
        <p class="p_1">Insurance, Funding and a random Idea are just a few characteristic of Camevee. But we offer a lot
          more!</p>
      </div>

      <div id="d5">
        <div class="fig_znak">
          <figure class="figura_1"><img src="icon-quote.png" width="60" height="60" class="figura2"></figure>
          <div class="text-znak">Appealing</div>

        </div>

        <div class="fig_znak">
          <figure class="figura_1"><img src="icon-sound-file.png" width="60" height="60" class="figura2"></figure>
          <div class="text-znak">Delightful</div>
        </div>

        <div class="fig_znak">
          <figure class="figura_1"><img src="icon-arrows-horizontal.png" width="60" height="60" class="figura2">
          </figure>
          <div class="text-znak">Enthralling</div>
        </div>
      </div>
    </article>
    <article>
      <div id="d10"><b>
          <h1>Meet the Team of Camevee</h1>
        </b>
        <p>Get to know the heade behind Camevee - or even better: Become a <span style="color: red;">Camevee</span>!</p>
      </div>
      <div id="d11">
        <div id="d11_1">
          <div class="fig10">
            <figure class="figura_10"><img src="ava-01.png" alt="" aria-setsize class="figura2"></figure>
            <div class="text-znak10">
              <p class="lik1"><b>Armon Sauriol</b></p>
              <p class="lik2">@ARMON_SAURIOL</p>
              <p class="lik3">CIO</p>
            </div>
          </div>
          <div class="fig10">
            <figure class="figura_10"><img src="ava-02.jpg" alt="" aria-setsize class="figura2"></figure>
            <div class="text-znak10">
              <p class="lik1"><b>Chany Lulow</b></p>
              <p class="lik2">@LULOW_CHANY</p>
              <p class="lik3">CVO</p>
            </div>
          </div>
          <div class="fig10">
            <figure class="figura_10"><img src="ava-03.jpg" alt="" aria-setsize class="figura2"></figure>
            <div class="text-znak10">
              <p class="lik1"><b>Chany Lulow</b></p>
              <p class="lik2">@LULOW_CHANY</p>
              <p class="lik3">CVO</p>
            </div>
          </div>
        </div>
      </div>
      <div id="d12">
        <figure class="figura_12"><img src="joshua-sortino-1300842-unsplash.jpg" width="800" height="100"></figure>
        <div id="d13">
          <h3>Camivee is the new Google Maps</h3>
        </div>
        <div id="d14">
          <h4>Sem Haftel <br> Tridro</h4>
        </div>
      </div>
      <div id="d15">
        <figure class="figura_13"><img src="hoodh-ahmed-1325762-unsplash.jpg" width="800" height="150"></figure>
        <div id="d16">
          <h3>Learn more about Camevee now</h3>
        </div>
        <div id="d17">
          <h4>Or just say hello</h4>
        </div>
        <div id="d18">
          <div id="d18_1">
            <div id="d18_1_1">
              <p style="color: black;"> &#9993;</p>
            </div>
            <form>
              <div><input placeholder="Your Email Here" name="user" id="input_1"></div>
            </form>
          </div>
          <div id="d18_2">
            <p class="P_10">SUBSCRIEE</p>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div id="d20"><b>
          <h1>Clients of Camevee</h1>
        </b>
        <p>Camevee has a lot of awesome customers. Here are some of them.</p>
      </div>
      <div id="d21">
        <div class="fig20">
          <figure class="figura_20"><img src="ava-06.jpg" alt="" aria-setsize class="figura2"></figure>
          <div class="text-znak10">
            <p class="lik1"><b>Gelli</b></p>
            <p class="lik2">Offer loans or insurans</p>
          </div>
        </div>
        <div class="fig20">
          <figure class="figura_20"><img src="ava-05.jpg" alt="" aria-setsize class="figura2"></figure>
          <div class="text-znak10">
            <p class="lik1"><b>Lunism</b></p>
            <p class="lik2">Finging the Funding YOU need</p>
          </div>
        </div>
        <div class="fig20">
          <figure class="figura_20"><img src="ava-04.jpg" alt="" aria-setsize class="figura2"></figure>
          <div class="text-znak10">
            <p class="lik1"><b>Suber</b></p>
            <p class="lik2">Making the world a better place</p>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div id="d30">
        <div id="d31">
          <div id="d32">
            <div id="d33"> <b>
                <h3>Say hello</h3>
              </b></div>
            <figure class="figura_30"><img src="icon-pin-blue.png" alt="" aria-setsize class="figura2"></figure>
            <div id="d34">
              <p class="p30">Find us at the office</p>
            </div>
            <div id="d35">
              <p>Lipinski-Aun street no 24,675723 ST.Piere, Saint</p>
              <p>Pierre and Viquelon</p>
            </div>
            <figure class="figura_31"><img src="logo3.png" alt="" aria-setsize class="figura2"></figure>
            <div id="d36">
              <p class="p31">Give us a ring</p>
            </div>
            <div id="d37">
              <p>Leviathan Monesso</p>
              <p>+61 994 838 24</p>
              <p>Mon - Fre 10:00-22:00</p>
            </div>
          </div>
          <div id="d38">
            <div id="d38_1">
              <div id="d39">
                <div id="d39_1"><b> Name <sup>*</sup></b></div>
                <div id="d39_2"><b>Email <sup>*</sup> </b></div>
                <div id="d39_3"><b>Subject <sup>*</sup></b> </div>
                <div id="d39_4"><b>Messenge <sup>*</sup> </b></div>
                <div id="d39_5"><input type="text" placeholder="Your Name" name="name" class="input_2"></div>
                <div id="d39_6"><input type="text" placeholder="Your Email" name="Email" class="input_2"></div>
                <div id="d39_7"><input type="text" placeholder="Subject" name="Subject" class="input_2"></div>
                <div id="d39_8"><input type="text" placeholder="Your Messege" name="Your Messege" class="input_5"></div>
              </div>
            </div>
            <div id="d38_2">
              <p>Tell us about you</p>
            </div>
            <div id="d38_3">
              <p>SEND MESSAGE</p>
            </div>
          </div>
        </div>
      </div>
    </article>
  </main>
  <footer>
    <div class="d40">
      <div>IMPRINT</div>
      <div>DATA PRIVACY POLICY</div>
      <div>EXISTING STARTUP</div>
    </div>
  </footer>
</body>

</html>