{% load static %} 
<!DOCTYPE html >
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  
  <script src="{% static 'prosto.js' %}"> </script>
  <input type="button" value="Ты уверен" onclick="cry()">

</head>
<body  src="{% static 'style.css' %}" >
  <h3>МЕНЮ</h3>
 {% for param in list_1%}
  <p>{{param}}</p>
  {% comment %} {% if int(param) % 2 == 0 %} 
    {% for param2 in list_2%}
      <p>{{param2}}</p>
      {% endfor%}
  {% endif%} {% endcomment %}
  {% comment %} <p>{{an}} &nbsp </p> {% endcomment %}
{% endfor %}



</body>
</html>